# Ignore these folders
.minecraft/backups/*
.minecraft/config/*
.minecraft/craftpresence/*
.minecraft/crash-reports/*
.minecraft/local/*
.minecraft/logs/*
.minecraft/mods/*
.minecraft/resourcepacks/*
.minecraft/saves/*
.minecraft/screenshots/*
.minecraft/shrines-saves/*
.minecraft/Xaero*/*
builds/*server*.zip
natives/*
server/config/*
server/logs/*
server/mods/*

# Ignore these files
.minecraft/knownkeys.txt
.minecraft/realms_persistence.json
.minecraft/user*.json
.minecraft/options.txt
.minecraft/patchouli_data.json
.minecraft/servers.dat*
.minecraft/config/fancymenu/menu_identifiers.db
instance.cfg
*.code-workspace

# Stop ignoring these folgers
!.minecraft/config/alexsmobs.toml
!.minecraft/config/defaultoptions
!.minecraft/config/drippyloadingscreen/
!.minecraft/config/fancymenu/
!.minecraft/config/ftbquests
!server/config/ftbquests

# Stop ignoring these files
!.minecraft/TrashSlotSaveState.json
!.minecraft/config/bcc-common.toml
!.minecraft/config/craftpresence.properties
!.minecraft/config/quark-common.toml
!.minecraft/config/theoneprobe-client.toml
!.minecraft/config/vtweaks-common.toml
!.minecraft/config/xaerominimap.txt
!.minecraft/config/xaerominimap_entities.json
!server/config/bcc-common.toml
!server/config/quark-common.toml
