# Ignore these folders
.minecraft/config/*
.minecraft/logs/*
.minecraft/mods/*
.minecraft/resourcepacks/*
.minecraft/saves/*
.minecraft/screenshots/*
.minecraft/shrines-saves/*
.minecraft/Xaero*/*
natives/*
server/config/*
server/logs/*
server/mods/*

# Ignore these files
.minecraft/knownkeys.txt
.minecraft/realms_persistence.json
.minecraft/user*.json
.minecraft/options.txt
.minecraft/patchouli_data.json
instance.cfg
potato-1.18.x.code-workspace

# Stop ignoring these folgers
!.minecraft/config/drippyloadingscreen/
!.minecraft/config/fancymenu/

# Stop ignoring these files
!.minecraft/config/theoneprobe-client.toml
!.minecraft/config/xaerominimap.txt
!.minecraft/config/xaerominimap_entities.json
.minecraft/servers.dat*
